<div class="row">
  <% @bear_call_spreads.each do |bps| %>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><strong><%= bps.asset %> <%= number_to_currency(bps.strike) %></strong></h5>
          <% unless bps.ceiling1.nil? %>
            <h6 class="card-subtitle mb-2 text-muted">Ceiling 1</h6>
            <p class="card-text"><%= number_to_currency(bps.ceiling1) %></p>
          <% end %>
          <% unless bps.ceiling2.nil? %>
            <h6 class="card-subtitle mb-2 text-muted">Ceiling 2</h6>
            <p class="card-text"><%= number_to_currency(bps.ceiling2) %></p>
          <% end %>
          <h6 class="card-subtitle mb-2 text-muted">DTE</h6>
          <p class="card-text dte date"><%= bps.dte.to_i %> <%= 'day'.pluralize(bps.dte.to_i) %></p>
          <p class="card-text date"><%= bps.expiration.strftime("%m-%d-%y") %></p>
          <a href="/bear_call_spreads/<%= bps.id %>" class="btn-sm btn-primary cards">View</a>
          <a href="/bear_call_spreads/<%= bps.id %>/edit" class="btn-sm btn-primary cards">Edit</a>
          <%= link_to "Delete", bear_call_spread_path(bps), class: "btn-sm btn-danger cards", method: :delete, data: { confirm: "Are you sure?" } %>
        </div>
      </div>
    </div>
  <% end  %>
</div>