<%= form_with(model: company, local: true) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
        <% company.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="wrapper fadeInDown">
    <div id="formContent">

      <div class="fadeIn first">
        <h1 class="login">Company</h1>
      </div>

      <div class="field">
        <%= form.text_field :ticker, class: "fadeIn second", id: "login", type: "text", placeholder: "Ticker"  %>
      </div>

      <div class="actions">
        <%= form.submit "Save", type: "submit", class: "fadeIn third btn btn-primary" %>
      </div>

    </div>
  </div>
<% end %>
