<%= form_with(model: equity, local: true) do |form| %>
  <% if equity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(equity.errors.count, "error") %> prohibited this stock from being saved:</h2>

      <ul>
        <% equity.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="wrapper fadeInDown">
    <div id="formContent">

      <div class="fadeIn first">
        <h1 class="login">Equity</h1>
      </div>

      <div class="field">
        <%= form.text_field :ticker, class: "fadeIn second", id: "login", type: "text", placeholder: "Ticker"  %>
      </div>

      <div class="field">
        <%= form.text_field :buy_price, class: "fadeIn third", id: "login", type: "text", placeholder: "Buy Price"  %>
      </div>

      <div class="field">
        <%= form.text_field :valuation, class: "fadeIn fourth", id: "login", type: "text", placeholder: "Intrinsic Value"  %>
      </div>

      <div class="actions">
        <%= form.submit "Save", type: "submit", class: "fadeIn ninth btn btn-primary" %>
      </div>

    </div>
  </div>

<% end %>